@font-face {
  font-family: "Outfit";
  src: url(assets/fonts/outfit/OFL.txt);

  font-style: normal;
  font-weight: 400;
}

/* =============================================================================
  #TYPOGRAPHY 
============================================================================= */
body {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;

  font-size: 24px;

  font-weight: 700;
}

p {
  font-size: 15px;
  font-weight: 400;
}

/* =============================================================================
  #GENERAL
============================================================================= */

/* =============================================================================
  #CONTENT
============================================================================= */
picture {
  display: block;
   
  height: 350px;
  border-radius: 10px;
  margin: 20px 20px;

  overflow: hidden;

  /* background-color: red; */
}

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

body {
  background-color: hsl(212, 45%, 89%);

  display: flex;
  justify-content: center;
}

main {
  background-color: white;

  max-width: 600px;
  min-height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 30px;
}

.main-header {
  /* font-size: 18px; */
  padding: 10px;

  color: hsl(218, 44%, 22%);
}

.description {
  text-align: center;

  font-size: 15px;

  color: hsl(216, 15%, 48%);
}